<div class="country-info-panel">
    <h2>Country Information</h2>
    
    <div *ngIf="!info">
        <p style="color: black;">Select a country to see details.</p>
    </div>
    
    <div *ngIf="info?.noData">
        <p style="color: black;">No data available for this country.</p>
    </div>
    
    <div *ngIf="info && !info.noData && info.name !== 'N/A'">
        <p><strong>Country Name:</strong> {{ info.name }}</p>
        <p><strong>Capital:</strong> {{ info.capital }}</p>
        <p><strong>Region:</strong> {{ info.region }}</p>
        <p><strong>Income Level:</strong> {{ info.income }}</p>
        <p><strong>Latitude:</strong> {{ info.latitude }}</p>
        <p><strong>Longitude:</strong> {{ info.longitude }}</p>
    </div>
</div>



